

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Poppins:wght@400;600&family=Rowdies&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
nav{
    width: 100%;
    height: 10vh;
    display: flex;
    position: sticky;
    justify-content: space-between;
    background: black;
    top: 0;
}
nav img{
    margin-left: 10%;
    border-radius: 50%;
}
nav div{
    margin-right: 10%;
    display: flex;
}
nav div a{
    text-decoration: none;
    font-size: 15px;
    padding: 1rem;
    margin: 10px 10px 0 0;
    color: white;
}
nav div a:hover{
    color: rgb(145, 172, 231);
    border-bottom: 2px solid rgb(145, 172, 231);
}
header{
    width: 100%;
    height: 70vh;
    display: flex;
    background-color: rgb(0, 0, 0);
}
.imagen{
    width: 50%;
}
.imagen img{
    margin: 15% 0 0 15%;
    max-width: 300px;
    max-height: 400px;
    border-radius: 8%;
}
.contenido{
    width: 50%;
}
.contenido h1{
    margin: 20% 0 0 30%;
    font-size: 45px;
    color: white;
}
.contenido p{
    margin: 0 15% 0 30%;
    color: gray;
    font-weight: bold;
}
.contenido div{
    margin-top: 15px;
}
.contenido div a{
    margin-left: 30%;
    text-decoration: none;
    padding: 10px 25px 10px 25px;
    border-radius: 5%;
    color: white;
    background: linear-gradient(to right, #f12711,#ED213A,#f5af19);
    background-size: 200% auto;
    transition: all .3s cubic-bezier(.25,0.8,.25,1);
}
.contenido div a:hover{
    background-position: right center;
}
